.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.adoptButton {
  background-color: green;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
